<div class="flight-offers" *ngIf="flightOffers?.data as offers">
  <div class="title">
    {{offers.length}}
    <ng-container *ngIf="offers.length < 2; else plural">result</ng-container>
    <ng-template #plural>results</ng-template>:
  </div>
  <div class="offer row no-gutters" *ngFor="let offer of offers">
    <div class="flight-code col-4 col-md-2">
      {{offer.offerItems[0].services[0].segments[0].flightSegment.carrierCode }} {{ offer.offerItems[0].services[0].segments[0].flightSegment.number}}
    </div>
    <div class="offer-item row no-gutters col-8 col-md-10" *ngFor="let offerItem of offer.offerItems">
      <ng-container *ngIf="offerItem.services as services">
        <div *ngFor="let service of services">
          <div class="flight-details">
            <div *ngFor="let segment of service.segments; let first = first">
              <div *ngIf="segment.flightSegment as flightSegment">
                <ng-container *ngIf="first">
                  <span class="flight-end-point"> {{ flightSegment.departure.iataCode }} </span>
                </ng-container>
                <ng-container>
                  <span class="flight-divider"> - </span>
                  <span class="flight-end-point"> {{ flightSegment.arrival.iataCode }} </span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="price">
        {{offerItem.price.total | currency:flightOffers.meta.currency}}
      </div>
    </div>
  </div>
</div>