<header class="container-fluid">
  <nav class="navbar navbar-default"> <!-- fixed-top -->
    <div class="container-fluid header-content">
      <img src="./images/logo_master.svg" alt="logo" class="main-logo">
      <!-- <ul class="nav navbar-nav container right-header">
        <li><a href="https://angular.io/guide/cheatsheet" target="_blank">Angular Cheat Sheet</a></li>
        <li><a href="https://sandbox.amadeus.com/travel-innovation-sandbox/apis/get/flights/inspiration-search" target="_blank">Amadeus Travel Innovation Sandbox</a></li>
      </ul> -->
    </div>
  </nav>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>
